nav {
	position: fixed;
	background-color: gray;
	height: 50px;
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;
}

nav ul {
	list-style: none;
	position: relative;
	display: inline-block;
	left: 100px;
	right-padding: 0;
	text-align: left;
}

nav li::before {
	content: "|";
}

nav img {
	height: 40px;
	width: 40px;
	position: fixed;
	border: solid 1px black;
	border-radius: 50%;
	margin-top: 5px;
}

main {
	margin-left: auto;
	margin-right: auto;
}
.box{
	position: fixed;
	border: dotted 10px green;
	width: 600px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.cat {
	width: 200px;
	height: 200px;
	position: absolute;
}

.dog {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 290px;
	left: 590px;
}

.background{
	width: 100%;
	position: absolute;
	top: 50px;
	left: 0;
}